@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-weight: 300;
}

.App {
  text-align: right;
}

.Pages {
  min-height: 93vh;
}

/* Nav Bar */

.NavWrapper {
  position: relative;
}

.NavList {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.NavList li {
  padding: 20px; 
  font-size: 15px;
}

/* Home Page */

.Home {
  display: flex;
}

.HomeText {
  padding: 50px;
  width: 200px;

}

.Text h3 {
  font-size: 20px;
}

.Text p {
  font-size: 15px;
}

.Pictures {
  display: flex;
  flex-direction: column;
  width: 850px;
  background-size: 850px;
  margin-bottom: 20px;
}

.Picture {
  width: 850px;
  height: 531px;
  background-size: 850px;
  margin-bottom: 20px;
}
/* Contact Form */

.ContactPage {
  display: flex;
  justify-content: right;
}

.ContactForm {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  padding: 20px;
  padding-right: 100px;
  padding-bottom: 2px;
}

.ContactForm label {
  display: block;
  padding: 5px;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
}

.ContactForm input {
  width: 300px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000000;
}

.ContactForm textarea {
  border: none;
  border-bottom: 1px solid #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 300px;
  height: 100px;
  margin-bottom: 35px;
}

.ContactForm button {
  width: 150px;
  height: 60px; 
  border-radius: 50%;
  border: none;
  background: #333333;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 70px;  
}

.Portrait {
  height: 579px;
  width: 425px;
  background-size: 579px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.SideText {
  margin-top: 150px;
}

.Info {
  font-size: 25px;
  font-weight: 400;
}

.InsideInfo {
  font-size: 18px;
  margin-bottom: 35px;
}

/* Login */

.Login {
  display: flex;
  flex-direction: right;
}

.LoginImage {
  display: flex;
  height: 565px;
  width: 754px;
  background-size: 754px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.LoginText {
  float: right;
  flex-direction: row;
  width: 400px;
  margin-top: 70px;
}

.LoginText h2 {
  margin-left: 65px;
  font-size: 35px;
}

.LoginText label input {
  display: block;
}

.LoginText label {
  font-size: 17px;
}

.LoginText input {
  width: 300px;
  height: 25px;
  border: 1px solid #000000;
  margin-bottom: 40px;
  margin-top: 5px;
}

.LoginText button {
  width: 150px;
  height: 60px; 
  border-radius: 50%;
  border: none;
  background: #333333;
  color: #ffffff;
  font-size: 18px;
  margin-left: 70px;
}

/* About Page */

/* .AboutPage {
  display: flex;
  flex-flow: row wrap;
} */

/* .TextOne {
  padding: 100px;
  width: 300px;
  align-content: center;
}

.TextOne p {
  font-size: 15px;
  align-content: center;
}

.TextTwo {
  padding: 50px;
  width: 300px;
  flex: 2;
}

.TextTwo p {
  font-size: 15px;
  flex: 2
}

.TextThree {
  padding: 100px;
  width: 300px;
  align-content: center;
}

.TextThree p {
  font-size: 15px;
  align-content: center;
}

.AboutImageOne {
  height: 494px;
  width: 641px;
  background-size: 641px;
}

.AboutImageTwo {
  height: 450px;
  width: 671px;
  background-size: 671px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.AboutImageThree {
  height: 450px;
  width: 671px;
  background-size: 671px;
  margin-left: 50px;
  margin-bottom: 50px;
} */

.AboutResumeInfo {
  display: flex;
}

.AboutPics img {
  width: 671px;
  padding: 20px;
}

.AboutText {
  margin-left: 20px;
}


/* Portfolio */

.Portfolio {
  margin-left: 20px;
}

.PortContent {
  margin: auto;
}

.PortfolioPics {
  width: 750px;
  margin: 0 auto;
}

.PortfolioText {
  width: 750px;
  margin: 0 auto;
}

.PortfolioPics img {
  width: 750px;
}


/* 
.PortfolioText {
  margin-left: 50px;
  margin-bottom: 60px;
}

.PortfolioText p {
  font-size: 15px;
  width: 300px;
  margin-bottom: 20px;
}

.PortfolioPicture {
  display: flex;
  flex-direction: column;
}

.PortImageOne {
  height: 500px;
  width: 762px;
  background-size: 762px;
  margin-bottom: 20px;
  margin-left: 14px;
}

.PortImageTwo {
  height: 500px;
  width: 750px;
  background-size: 750px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.PortImageThree {
  height: 500px;
  width: 750px;
  background-size: 750px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.PortImageFour {
  height: 465px;
  width: 750px;
  background-size: 750px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.PortImageFive {
  height: 500px;
  width: 750px;
  background-size: 750px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.InputBoxAdmin {
  margin: 50px;
  display: flex;
  flex-direction: row;
} */ */

/* Submissions Page */

.SubmissionsPage {
  margin-left: 20px;
}

.Entry {
  margin-bottom: 20px;
}

/* Admin Resume */

.ResItems {
  display: flex;
  padding: 30px;
  font-size: 15px;
  margin-right: 70px;
}

.ResItems > div {
  padding: 20px;
}

.ResPics > img {
  width: 220px;
}

.PortItems {
  display: flex;
  padding: 30px;
  font-size: 15px;
  margin-right: 70px;
}

.PortItems > div {
  padding: 20px;
}

.PortPics > img {
  width: 220px;
}

.CreateForm h2 {
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
} 


/* Footer */

footer {
  background-color: lightgray;
  font-size: 12px;
  text-align: center;
  padding: 10px;
}